<div class="row g-0 overflow-auto">
  <div *ngFor="let item of pageOfItems" class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://aws-cf.imdoc.fr/prod/photos/3/3/2/4472332/19193316/img-191933160c3.jpg?v=11" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title {{item.id}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<div class="card-footer pb-0 pt-3">
  <jw-pagination [items]="items" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
</div>
