<div style="text-align: center;">
  <h1>Ajouter un événement</h1>
  <p style="text-align: left">Un organisateur est responsable de ses évenements, un compte organisateur peut être définitivement banni de la plateforme si l'événement ne correspond pas aux normes de GlobalLive.</p>
</div>
<form [formGroup]="eventForm" (ngSubmit)="onFormSubmit()">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label style="display:block;" for="imgInp">Choose File</label>
      <input accept="image/*" type='file' id="imgInp" class="inputfile" (change)="handleFileInput($event.target.files)"/>
      <label for="imgInp"><i class="bi bi-file-earmark-arrow-up"></i> Choisir une image ...</label>
      <img id="output" src="../../../assets/img/event.png" alt="your image"/>
    </div>
    <div class="form-group col-md-3 float-child">
      <label for="inputEvent">Nom de l'événement</label>
      <input formControlName="eventName" type="text" class="form-control" id="inputEvent" placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && fval.eventName.errors }">
    </div>
    <div class="form-group col-md-3 float-child">
      <label for="inputDate">Date de l'événement</label>
      <input formControlName="eventDate" type="date" class="form-control" id="inputDate" placeholder="Date" [ngClass]="{ 'is-invalid': submitted && fval.eventDate.errors }">
    </div>
  </div>
  <div class="form-group col-md-4 float-child">
    <label>Type de l'événement</label>
    <select formControlName="typeEventId" name="selectEventsType" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && fval.typeEventId.errors }">
      <option [ngValue]="null" disabled>Selectionnez une catégorie :</option>
      <option *ngFor="let eventType of eventTypesRecord;" [ngValue]="eventType.id">{{eventType.typeEventName}}</option>
    </select>
    <!--<div *ngIf="submitted && fval.selectEventsType.errors" class="invalid-feedback">
      <div *ngIf="fval.selectEventsType.errors.required">Choisissez une catégorie.</div>
    </div>-->
  </div>
  <div class="form-group col-md-4 float-child">
    <label>Canal de l'événement</label>
    <select formControlName="canalEventId" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && fval.canalEventId.errors }">
      <option [ngValue]="null" disabled>Selectionnez un canal :</option>
      <option *ngFor="let eventCanal of eventCanalsRecord;" [ngValue]="eventCanal.id">{{eventCanal.canalEventName}}</option>
  </select>
  </div>
  <div class="form-group float-child">
    <label for="inputAddress">Lien du live</label>
    <input formControlName="eventLink" type="text" class="form-control" id="inputLink" placeholder="www.event.com" [ngClass]="{ 'is-invalid': submitted && fval.eventLink.errors }">
  </div>
  <div class="form-group float-child">
    <label for="inputAddress">Lieu</label>
    <input formControlName="eventAddress" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [ngClass]="{ 'is-invalid': submitted && fval.eventAddress.errors }">
  </div> <div class="form-group" style="padding-right: 20px; padding-bottom: 20px">
    <label for="exampleFormControlTextarea">Ajouter une description :</label>
    <textarea formControlName="eventDescription" class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter l'événement</button>
</form>
